
/* Start here */
    
.stay {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1100px;
    color: darksalmon;
    font-weight:bold;
}

.here {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1150px;
    color:darkseagreen;
    font-weight:bold;
}





















