
/* Start here */
    
.stay {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}

.here {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}





















