
/* Start here */
    
.stay {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}

.here {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}

.love {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;   
    margin-left: 150px;
    margin-top: 50px;
    position: fixed;
}

.your {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;   
    margin-left: 300px;
    margin-top: 160px;
    position: fixed;
}

.as {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;   
    margin-left: 550px;
    margin-top: 280px;
    position: fixed;
}


.you {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;   
    margin-left: 550px;
    margin-top: 360px;
    position: fixed;

}


.would {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;   
    margin-left: 100px;
    margin-top: 430px;
    position: fixed;

}

.an {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;   
    margin-left: 130px;
    margin-top: 500px;
    position: fixed;

}

.child {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;   
    margin-left: 680px;
    margin-top: 560px;
    position: fixed;

}

.joy {
    margin-left: 30px;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 30px;

}

.exploit {
    margin-top: 40px;
}

.beauty {
    margin-top: 10px;
    font-size: 10px;
    font-family: sans-serif;
    margin-left: 350px;
    line-height: 40px;
}

.iter {
    font-family:sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 60px;
}

.attempt {
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 400px;
    margin-top: 0.10px;
    line-height: 40px;
    
}


.tri {
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 800px;
    line-height: 30px;
}

.take {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
   margin-left: 960px;
    line-height: 20px;
    
}

.beauty2 {
    margin-top: 10px;
    font-size: 10px;
    font-family: sans-serif;
    margin-left: 1px;
    line-height: 40px;
}
























