
/* Start here */
 
.dec1 {
    margin-left: 35px;
}

.dec2 {
    margin-left: 45px;
}

.dec3 {
    margin-left: 55px;
}

.dec4 {
    margin-left: 65px;
}

div2 {
    margin-left: 65px;
}


h3  {
    margin-left: 35px;  
}
    


.noodlelink {
    margin-left: 55px;
}

.lastnoodle {
    margin-left: 20px;
}

.last {
    margin-left: 35px;
}





