
/* Start here */
 
.next {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}

.back {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}



.blanks {
    width: 5000px;
}

h6 {
    margin-left: 2500px;
    

}

h4 {
    margin-left: 4720px;
}

