
/* Start here */
    
.next {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}

.back {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}


div {
    position: fixed;
    margin-left: 90px;
}

div1 {
    position: fixed;
    margin-left: 170px;
}

div2 {
    position: fixed;
    margin-left: 150px;
}

div3 {
    position: fixed;
    margin-left: 190px;
}

div4 {
    position: fixed;
    margin-left: 350px;
}

div5 {
    margin-left: 410px;
}

div6 {
    position: fixed;
    margin-left: 515px;
}

div7 {
    margin-left: 90px;
}

div8 {
    position: fixed;
    margin-left: 735px;
}

div9 {
    margin-left: 450px;
}

div10 {
    position: fixed;
    margin-left: 488px;
}

div11 {
    position: fixed;
    margin-left: 550px;
}

div12 {
    margin-left: 604px;
}

div13 {
    position: fixed;
    margin-left: 600px;
}

.sep {
    margin-left: 580px;
}


div15 {
    margin-left: 690px;
}


div16 {
    position: fixed;
    margin-left: 750px;
}

div17 {
    position: fixed;
    margin-left: 900px;
}

div18 {
    position: fixed;
    margin-left: 860px;
}

div19 {
    position: fixed;
    margin-left: 830px;
}

div20 {
    position: fixed;
    margin-left: 860px;
}

div21 {
    position: fixed;
    margin-left: 900px;
}

div22 {
    position: fixed;
    margin-left: 830px;
}

div23 {
    margin-left: 884px;
}

div25 {
    position: fixed;
    margin-left: 130px;
}
