
/* Start here */

.next {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}

.back {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}




.b {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
    margin-left: 560px;
    margin-top: 100px;
    position: absolute;
    color: darkblue;
}

.b {
    transform: rotate(250deg)
}

.br {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 620px;
    margin-top: 130px;
    color: darkblue;
    position: absolute;
    transform: rotate(200deg)
    
}

.bre {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 3px;
    margin-left: 650px;
    margin-top: 125px;
    color:darkblue;
    position: absolute;
    transform: rotate(120deg)
    
}

.brea {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 610px;
    margin-top: 155px;
    color:darkblue;
    position: absolute;
    transform: rotate(82deg)
    
}

.break {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 640px;
    margin-top: 170px;
    color:darkblue;
    position: absolute;
    transform: rotate(82deg)
    
}

.breaki {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
    margin-left: 620px;
    margin-top: 190px;
    color:darkblue;
    position: absolute;
    transform: rotate(98deg)
    
}

.breakit {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 3px;
    margin-left: 620px;
    margin-top: 220px;
    color:darkblue;
    position: absolute;
    transform: rotate(120deg)
    
}

.dot {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 550px;
    margin-top: 70px;
}

.dot2 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 508px;
    margin-top: 85px;
}

.dot3 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 480px;
    margin-top: 115px;
}

.dot4 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 480px;
    margin-top: 150px;
}

.dot5 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 508px;
    margin-top: 180px;
}

.dot6 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 550px;
    margin-top: 195px;
}

.dota {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 700px;
    margin-top: 1150px;
}

.dotb {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 658px;
    margin-top: 1165px;
}

.dotc {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 630px;
    margin-top: 1195px;
}

.dotd {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 630px;
    margin-top: 1230px;
}

.dote {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 658px;
    margin-top: 1260px;
}

.dotf {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 700px;
    margin-top: 1275px;
}


.s {
    letter-spacing: 30px;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    margin-top: 470px;
    margin-left: 120px;
    color: darkblue;
}

.dot7 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 620px;
    margin-top: 280px;
}

.dot8 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 600px;
    margin-top: 310px;
}

.dot9 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 580px;
    margin-top: 340px;
}

.dot10 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 560px;
    margin-top: 370px;
}

.dot11 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 540px;
    margin-top: 400px;
}

.dot12 {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 520px;
    margin-top: 430px;
}

.circle {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 520px;
    margin-top: 430px;
    line-height: 3px;
}


.bend {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 650px;
    margin-top: 620px;
    color:darkblue;
    position: absolute;
    transform-origin: bottom center;
    padding-bottom: 100px;
    
}

#b {
    transform: rotate(15deg);
}

#e {
    transform: rotate(30deg);
}

#n {
    transform: rotate(45deg);
}

#d {
    transform: rotate(60deg);
}

#space {
    transform: rotate(75deg);
}

#i {
    transform: rotate(90deg);
}

#t {
    transform: rotate(100deg);
}


.crack {
    margin-top: 490px;
    margin-left: 660px;
}

.foldit {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 650px;
    color: darkblue;
    position: absolute;
    
}

#fo {
    transform: skewX(30deg);
    position: absolute;
}

#ld {
    transform: skewX(-30deg);
    margin-left: 650px;
    position: absolute;
    margin-top: 25px;
}

#it {
    transform: skewX(30deg);
      margin-left: 650px;
    position: absolute;
    margin-top: 50px;
}

#fo2 {
    transform: skewX(30deg);
    margin-top: 75px;
}

#ld2 {
    transform: skewX(-30deg);
    margin-left: 650px;
    position: absolute;
    margin-top: 100px;
}

#it2 {
    transform: skewX(30deg);
      margin-left: 650px;
    position: absolute;
    margin-top: 125px;
}

.vert {
    font-size: 13px;
    color: burlywood;
    position: absolute;
    margin-left: 620px;
    line-height: 20px;
    margin-top: 490px;
}




