
/* Start here */

.next {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}

.back {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}

.b {
    font-family: sans-serif;
    font-size: 500px;
    font-weight: bold;
    margin-left: 100px;
    color:darkseagreen;
    margin-left: 450px;
    position: fixed;
}

.b {
    transform: rotateX(250deg);
    
}

.diamond {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 100px;
    margin-left: 575px;
}


.diamond {
    transform: rotate(45deg)
}

.diamond2 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 130px;
    margin-left: 575px;
}


.diamond2 {
    transform: rotate(45deg)
}

.diamond3 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 160px;
    margin-left: 575px;
}


.diamond3 {
    transform: rotate(45deg)
}

.diamond4 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 190px;
    margin-left: 575px;
}


.diamond4 {
    transform: rotate(45deg)
}

.diamond5 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 220px;
    margin-left: 575px;
}


.diamond5 {
    transform: rotate(45deg)
}

.diamond6 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 250px;
    margin-left: 575px;
}


.diamond6 {
    transform: rotate(45deg)
}
.diamond7 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 280px;
    margin-left: 575px;
}


.diamond7 {
    transform: rotate(45deg)
}

.diamond8 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 310px;
    margin-left: 575px;
}


.diamond8 {
    transform: rotate(45deg)
}

.diamond9 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 340px;
    margin-left: 575px;
}


.diamond9 {
    transform: rotate(45deg)
}

.diamond10 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 370px;
    margin-left: 575px;
}


.diamond10 {
    transform: rotate(45deg)
}

.diamond11 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 400px;
    margin-left: 575px;
}


.diamond11 {
    transform: rotate(45deg)
}

.diamond12 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 430px;
    margin-left: 575px;
}


.diamond12 {
    transform: rotate(45deg)
}

.break {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 615px;
    margin-top: 370px;
    position: fixed;
}

.break2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 615px;
    margin-top: 370px;
    color: beige;
    position: absolute;
}


.diamond13 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 575px;
}


.diamond13 {
    transform: rotate(45deg)
}

.diamond14 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 545px;
}


.diamond14 {
    transform: rotate(45deg)
}

.diamond15 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 515px;
}


.diamond15 {
    transform: rotate(45deg)
}

.diamond16 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 485px;
}


.diamond16 {
    transform: rotate(45deg)
}

.diamond17 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 455px;
}


.diamond17 {
    transform: rotate(45deg)
}

.diamond18 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 425px;
}


.diamond18 {
    transform: rotate(45deg)
}

.diamond19 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 395px;
}


.diamond19 {
    transform: rotate(45deg)
}

.diamond20 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 365px;
}


.diamond20 {
    transform: rotate(45deg)
}

.diamond21 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 335px;
}


.diamond21 {
    transform: rotate(45deg)
}

.diamond22 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 305px;
}


.diamond22 {
    transform: rotate(45deg)
}

.diamond23 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 275px;
}


.diamond23 {
    transform: rotate(45deg)
}

.diamond24 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 460px;
    margin-left: 245px;
}


.diamond24 {
    transform: rotate(45deg)
}

.diamond25 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 490px;
    margin-left: 245px;
}


.diamond25 {
    transform: rotate(45deg)
}

.diamond26 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 520px;
    margin-left: 245px;
}


.diamond26 {
    transform: rotate(45deg)
}

.diamond27 {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    margin-top: 550px;
    margin-left: 245px;
}


.diamond27 {
    transform: rotate(45deg)
}


.Stretch {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 235px;
    margin-top: 570px;
    position: fixed;
}

.Stretch2 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 250px;
    margin-top: 570px;
    position: fixed;
}

.Stretch3 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 275px;
    margin-top: 570px;
    position: fixed;
}

.Stretch4 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 300px;
    margin-top: 570px;
    position: fixed;
}

.Stretch5 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 335px;
    margin-top: 570px;
    position: fixed;
}

.Stretch6 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 235px;
    margin-top: 570px;
    position:absolute;
    color: darksalmon;
}

.Stretch7 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 250px;
    margin-top: 570px;
    position:absolute;
    color: darksalmon;
}

.Stretch8 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 275px;
    margin-top: 570px;
    position:absolute;
    color: darksalmon;
}

.Stretch9 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 300px;
    margin-top: 570px;
    position:absolute;
    color: darksalmon;
}


.Stretch10 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 335px;
    margin-top: 570px;
    position:absolute;
    color: darksalmon;
}



































