
/* Start here */

.next {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}

.back {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}

.c {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    margin-left: 275px;
    letter-spacing: 80px;
    color: rosybrown;
    position: absolute;
    
}

.breaks {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    margin-left: 275px;
    margin-top: 160px;
    letter-spacing: 80px;
    color: rosybrown;
    position: absolute;
    
}

.cab {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    margin-left: 470px;
    margin-top: 380px;
    letter-spacing: 80px;
    color: burlywood;
    position: absolute;
    
}

.ride {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    margin-left: 370px;
    margin-top: 540px;
    letter-spacing: 80px;
    color: burlywood;
    position: absolute;
    
}

.green {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    margin-left: 340px;
    margin-top: 760px;
    letter-spacing: 80px;
    color: darkseagreen;
    position: absolute;
    
}

.room {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    margin-left: 334px;
    margin-top: 920px;
    letter-spacing: 80px;
    color: darkseagreen;
    position: absolute;
    
}


.box {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    position: fixed;
    margin-left: 450px;
    margin-top: 40px;
}

.box2 {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    position: fixed;
    margin-left: 450px;
    margin-top: 35px;
    transform: rotate(45deg)
}

.real {
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 195px;
    margin-left: 470px;
    position: fixed;
    letter-spacing: 4px;
    line-height: 20px;
}






















