
/* Start here */

.next {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1240px;
    color:cadetblue;
    font-weight:bold;
    font-size: 20px;
}

.back {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}

.vert {
    margin-left: 175px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.aa {
    margin-left: 740px;
    
}

.band {
    margin-left: 740px;
    font-family: sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}

.bb {
    margin-left: 1000px;

}

.cc {
    margin-left: 568px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.dd {
    margin-left: 568px;
    
}

.ee {
    margin-left: 570px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.ff {
    margin-left: 910px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
    
}

.gg {
    margin-left: 272px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.hh {
    margin-left: 270px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
    
}

.ii {
    margin-left: 272px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}
.jj {
    margin-left: 948px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.kk {
    margin-left: 630px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.jj {
    margin-left: 948px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.ll {
    margin-left: 630px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.mm {
    margin-left: 315px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.nn {
    margin-left: 315px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 13px;
}

.box {
    background-color: black;
    margin-left: 307px;
}
.box2 {
    background-color: black;
    margin-left: 167px;
}









