
/* Start here */


.back {
    position: fixed;
    font-family: sans-serif;
    margin-left: 1200px;
    color:darksalmon;
    font-weight:bold;
    font-size: 20px;
}


.l {
    font-family: serif;
    margin-left: 360px;
    position: absolute;
    color: dimgray;
    font-size: 250px;
    
}

.a {
    font-family: serif;
    margin-left: 410px;
    position: absolute;
    color: black;
    font-size: 350px;
    margin-top: 50px;
    font-weight: bold;
}

.u {
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    color: darkslategray;
    font-size: 100px;
    transform: rotate(90deg);
    margin-left: 560px;
    margin-top: 140px;
    border: 1px solid darkslategray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.g {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    color: darkseagreen;
    margin-left: 650px;
    margin-top: 250px;
    
    
}


.h {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 190px;
    position: absolute;
    color: lightslategray;
    margin-left: 750px;
    transform: rotate(90deg);
    margin-top: 175px;
}

.circle {
    border: 2px dashed darkseagreen;
    height: 220px;
    width: 220px;
    border-radius: 220px;
    position: absolute;
    margin-left: 600px;
    margin-top: 185px;
}

.line {
    letter-spacing: 1px;
    position: absolute;
    margin-left: 110px;
    margin-top: 150px;
}

.diamond {
    transform: rotate(90deg);
    position: absolute;
    margin-left: 109px;
    margin-top: 154px;
}

.line1 {
    letter-spacing: 1px;
    position: absolute;
    margin-left: 890px;
    margin-top: 235px;
}

.diamond1 {
    transform: rotate(90deg);
    position: absolute;
    margin-left: 1100px;
    margin-top: 239px;
}

.line2 {
    letter-spacing: 1px;
    position: absolute;
    margin-left: 220px;
    margin-top: 180px;
}

.diamond2 {
    transform: rotate(90deg);
    position: absolute;
    margin-left: 209px;
    margin-top: 184px;
}













